<a href="https://colab.research.google.com/github/vcnzx/Machine_Learning_Project/blob/main/Adult_Income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Adult Income Prediction
Author: Charlie Ventura

##Import Libraries

In [2]:
## Pandas
import pandas as pd
## Numpy
import numpy as np
## MatPlotLib
import matplotlib.pyplot as plt

##Load Data

In [3]:
fpath = '/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week08/Data/adult.csv'
df = pd.read_csv(fpath)

##Inspect Data

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

##Second choice:

1. Source of data
- https://www.kaggle.com/datasets/wenruliu/adult-income-dataset
2. Brief description of data
- Data set of individual income with 14 other attributes.
3. What is the target?
- Income
4. What does one row represent? (A person? A business? An event? A product?)
- A person's background
5. Is this a classification or regression problem?
- Regression
6. How many features does the data have?
- 14
7. How many rows are in the dataset?
- 48842
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
- There are a lot of 'other' values based on the column tab in kaggle. There may need to be a lot of cleaning the data.